<div class="detail-container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{translate 'Overview' scope='Company'}}</h3>
                </div>
                <div class="panel-body">
                    <p><strong>{{translate 'name' scope='Company'}}:</strong> {{model.attributes.name}}</p>
                    <p><strong>{{translate 'address' scope='Company'}}:</strong> {{model.attributes.address}}</p>
                    <p><strong>{{translate 'phone' scope='Company'}}:</strong> {{model.attributes.phone}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
